@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nanum+Gothic&family=Pacifico&family=Prociono&family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Pacifico", cursive; 
}


body{
    margin-top: 0;
    margin-left: 0;
    background-color: red;
}

.divp{
    background-color: rgb(56, 50, 50);
    display: flex;
    margin: 0 auto;
    width: 1080px;;
    margin-bottom: 60px;
    border: 7px solid rgb(255, 255, 255);
}

p{
    width: 600px;
    font-size: 1.5em;
    color: white;
    margin-left: 10px;
}

h1{
    background-color: bisque;
    width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border: 7px solid rgb(0, 0, 0);
}

.div{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;

}



